.get-everything-you-need {
  width: 100%;
  background: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 110px;
}

.get-everything-you-need__wrapper {
  width: 100%;
  max-width: 1163px;
  margin-left: 163px;
  margin-right: 114px;
}

.get-everything-you-need__image-div {
  max-width: 585px;
  background-size: cover;
}

.get-everything-you-need__image {
  width: 100%;
}

.get-everything-you-need__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.get-everything-you-need__text {
  display: flex;
  flex-direction: column;
  max-width: 484px;
}

.get-everything-you-need__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  color: #231f20;
  margin-bottom: 28px;
  margin-top: 64px;
}

.get-everything-you-need__p {
  font-size: 18px;
  line-height: 30px;
  color: #999999;
}

.search-bar {
  margin-right: 51px;

  padding: 22px 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  box-shadow: 0 30px 40px rgba(212, 217, 232, 0.1);
  border-radius: 8px;
}

.search-bar__job-title-input,
.search-bar__where-input,
.search-bar__distance-select {
  padding: 13px 0 13px 16px;
  margin-right: 13px;

  font-weight: 800;
  line-height: 22px;

  border: 1px solid #dddddd;
  border-radius: 8px;
  color: #999999;
}

.search-bar__job-title-input {
  max-width: 331px;
  width: 100%;
}

.search-bar__where-input {
  max-width: 291px;
  width: 100%;
}

.search-bar__distance-select {
  max-width: 237px;
  width: 100%;
  cursor: pointer;
}

.search-bar__button {
  max-width: 115px;

  padding: 12px 30px;

  background: #2e1aad;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.search-bar__button:hover {
  color: white;
  background: #9288d2;
  border: 2px solid #9288d2;
}

@media (max-width: 1200px) {
  .get-everything-you-need__wrapper {
    margin: 0 auto;
    padding: 0 20px;
  }

  .search-bar {
    margin: 0 auto;
  }
}

@media (max-width: 920px) {
  .get-everything-you-need__main {
    flex-direction: column;
    max-width: 544px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .get-everything-you-need__image-div {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    max-width: 400px;
    background-color: #f5f7fa;
  }

  .search-bar__job-title-input {
    max-width: 400px;
    margin-bottom: 10px;
  }

  .search-bar__where-input {
    max-width: 400px;
    margin-bottom: 10px;
  }

  .search-bar__distance-select {
    max-width: 400px;
    margin-bottom: 10px;
  }

  .search-bar__button {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .get-everything-you-need__title {
    font-size: 38px;
  }
}

@media (max-width: 320px) {
  .get-everything-you-need__title {
    font-size: 30px;
  }

  .get-everything-you-need__p {
    font-size: 14px;
  }
}
